body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("tyl.jpg");
    font-family: Arial, Helvetica, sans-serif;
  }
.start{
  color: white;
  background-color: #5d5b5b;
  margin-left: 40%;
  margin-right: 40%;
}

.logowanie{
  background-color: #5d5b5b;
  margin-left: 40%;
  margin-right: 40%;
}

.login-container{
  color: white;
  padding-top: 10px;
  padding-bottom: 1px;
}

.student{
  background-color: #5d5b5b;
  margin-left: 40%;
  margin-right: 40%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.login, .haslo, .rola {
  color: white;
  margin: auto;
  margin-bottom: 7px;
}

#name{
  display: block;
  text-align: center;
  float: right;
  color: white;
  margin-right: 10px;
  margin-top: 10px;
}

.grades-container {
  width: 60%;
  margin: auto;
  margin-top: 70px;
  text-align: center;
  background-color: rgb(70, 64, 64);
  color: rgb(255, 255, 255);
}

.grades {
  table-layout: fixed;
  border-collapse: collapse;
  border: none;
  width: 100%;
}

.grades-row {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.grade-change input[type=submit] {
  color: white;
  background-color: rgb(21, 141, 21);
  border: none;
  width: 60px;
  height: 30px;
}

.grade-change input[type=text] {
  width: 30px;
  border: 1px solid white;
}

.grade-delete input[type=submit] {
  color: white;
  background-color: rgb(255, 0, 0);
  border: none;
  width: 60px;
  height: 30px;
}

a:link, a:visited {
  color: white;
}
