{% extends "main.html" %}
{% block content %}
{% include "admin_nav.html" %}
<div class="enroll-notice">
        <h2>Wybór studenta według pierwszej litery nazwiska</h2>
</div>
<div class="students-by-letter">
        <ul class="letter-ranges">
                <li><a href="/admin/studenci/AE">A-Ę</a></li>
                <li><a href="/admin/studenci/FL">F-Ł</a></li>
                <li><a href="/admin/studenci/MS">M-S</a></li>
                <li><a href="/admin/studenci/SZ">Ś-Ż</a></li>
        </ul>
</div>
{% endblock %}
