{% extends "main.html" %}
{% block content %}
        <link rel="stylesheet" href="../static/css/start.css">
        <div class = "logowanie">
        
        <div class="login-container">
        <form method = "POST",action = "">
                {{form.hidden_tag()}}
                        <h1>Zaloguj</h1>
                        <div class="login">
                                {{form.login.label}}
                                {{form.login}}
                        </div>
                        <div class="haslo">
                                 {{form.password.label}}
                                {{form.password}}
                        </div>
                        <div class="rola">
                        {% for subfield in form.role %}
                                <tr>
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </tr>
                        {% endfor %}
                        </div>
                        
                <div>
                        {{form.submit}}
                        
                </div>
        </form><h4><a href="/">Wróć</a></h4>
        </div>
        </div>
{% endblock %}
