{% extends "main.html" %}
{% block content %}
{% include "prowadzacy_nav.html" %}
<div class="tbl-container">
        {% for day, courses in timetable.items() %}
        <table class="tbl-table">
                <tr>
                        <th colspan="4">{{ day }}</th>
                </tr>
                {% for course in courses %}
                <tr>
                        <td class="course">{{ course[0].strip() }}</td>
                        <td class="hour">{{ course[1].strftime("%H:%M").strip() }}</td>
                        <td class="hour">{{ course[2].strftime("%H:%M").strip() }}</td>
                        <td class="hour">{{ course[3].strip() }}</td>
                </tr>
                {% endfor %}
        </table>
        {% endfor %}
</div>
{% endblock %}
