<link rel="stylesheet" href="{{ url_for('static',filename='css/start.css') }}">
        <ul>
            <li><a href="/prowadzacy/oceny">Oceny</a></li>
            <li><a href="/prowadzacy/plan_zajec">Plan zajęć</a></li>
            <li><a href="/prowadzacy/zapisy">Zapisy</a></li>
            <li><a href="/prowadzacy/komunikaty">Komunikaty</a></li>
            <li><a href="/prowadzacy/studenci">Profile studentów</a></li>
            <li><a href="/logout">Wyloguj</a></li>
            <div id="name"> {{ name }}</div>
        </ul>