{% extends "main.html" %}
{% block content %}
        <link rel="stylesheet" href="../static/css/start.css">
        <ul>
            <li><a href="/prowadzacy/oceny">Oceny</a></li>
            <li><a href="">Plan zajęć</a></li>
            <li><a href="">Zapisy</a></li>
            <li><a href="">Komunikaty</a></li>
            <li><a href="">Profil studenta</a></li>
            <li><a href="/logout">Wyloguj</a></li>
            <div id="name"> {{ name }}</div>
        </ul>
        <div class="student">
                <h1>Tu będą informacje o studencie</h1>
        </div>
{% endblock %}