{% extends "main.html" %}

{% block content %}
{% include "prowadzacy_nav.html" %}
        <div class="grades-container">
                <form method = "POST",action = "">
                        {{form.hidden_tag()}}
                                <h1>Dodaj ocenę</h1>
                                <div class="login">
                                        {{form.student.label}}
                                        {{form.student}}
                                </div>
                                <div class="haslo">
                                         {{form.grade.label}}
                                         {{form.grade}}
                                </div> 
                        <div>
                                {{form.submit}}
                                
                        </div>
                </form><h4><a href="/prowadzacy/oceny/{{ courseId }}">Wróć</a></h4>
        </div>
{% endblock %}