{% extends "main.html" %}
{% block content %}
{% include "student_nav.html" %}
<div class="tbl-container">
        <div class="enroll-notice">
                <h2>Kursy na które można się zapisać:</h2>
        </div>
        <table class="tbl-table">
                <tr>
                        <th>ID kursu</th>
                        <th>Nazwa</th>
                        <th>Zapis</th>
                </tr>
        {% for row in courses1 %}
                <tr>
                        {% for element in row %}
                                <td>{{ element }}</td>
                        {% endfor %}
                        <input type="hidden" name="courseId" value="{{ row[0] }}" form="enroll-{{row[1]}}">
                        <td class="update-btn"><input type="submit" value="Zapisz" form="enroll-{{row[1]}}"></td>
                </tr>
        {% endfor %}
</table>
<div class="enroll-notice">
        <h2>Kursy do których jesteś zapisany:</h2>
</div>
<table class="tbl-table">
        <tr>
                <th>ID kursu</th>
                <th>Nazwa</th>
        </tr>
{% for row in courses2 %}
        <tr>
                {% for element in row %}
                        <td>{{ element }}</td>
                {% endfor %}
        </tr>
{% endfor %}
</table>
</div>
{% for row in courses1 %}
        <form name="enroll-{{row[1]}}" id="enroll-{{row[1]}}" method="post" action="/student/zapisy"></form>
{% endfor %}
{% endblock %}