{% extends "main.html" %}
{% block content %}
{% include "student_nav.html" %}
        <div class="grades-container">
                <table class="grades">
                        <tr>
                                <th>Ocena</th>
                                <th>Nazwa kursu</th>
                        </tr>
                {% for row in courses %}
                        <tr class="grades-row">
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                        </tr>
                {% endfor %}
                </table>
        </div>
{% endblock %}