<link rel="stylesheet" href="{{ url_for('static',filename='css/start.css') }}">
        <ul>
            <li><a href="/student/oceny">Oceny</a></li>
            <li><a href="/student/plan_zajec">Plan zajęć</a></li>
            <li><a href="/student/zapisy">Zapisy</a></li>
            <li><a href="/student/komunikaty">Komunikaty</a></li>
            <li><a href="/student/profil">Mój profil</a></li>
            <li><a href="/logout">Wyloguj</a></li>
            <div id="name"> {{ name }}</div>
        </ul>